# Database connection string
DATABASE_URL=

# NextAuth.js secret (lihat di https://next-auth.js.org/configuration/options#environment-variables)
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Seeder variable untuk membuat user admin dan perbekel
# User ini dapat di insert langsung ke database, jangan lupa untuk menghash password (bcrypt) sebelum memasukkan
ADMIN_USERNAME=
ADMIN_PASSWORD=
PERBEKEL_USERNAME=
PERBEKEL_PASSWORD=

# Uploadthing secret (see on https://docs.uploadthing.com/)
# Digunakan untuk mengupload file ke Uploadthing
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# Encryption key untuk mengenkripsi data NIK
ENCRYPTION_KEY=