# Database connection string
DATABASE_URL=

# NextAuth.js secret (see on https://next-auth.js.org/configuration/options#environment-variables)
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Seeder variables for admin account, not necessaryly needed, you can create 
# these users directly from the database, dont forget to hash the password (bcrypt) before inserting
ADMIN_USERNAME=
ADMIN_PASSWORD=
PERBEKEL_USERNAME=
PERBEKEL_PASSWORD=

# Uploadthing secret (see on https://docs.uploadthing.com/)
# This is used for uploading files to the cloud
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# Encryption key for encrypting sensitive data
ENCRYPTION_KEY=